header .container-fluid {
overflow: hidden;
position: relative;
background: #FBFBFB;
background: linear-gradient(77deg, rgba(251, 251, 251, 0.51) -8.08%, rgba(196, 219, 252, 0.51) 51.68%, rgba(137, 183, 249, 0.51) 78.93%, rgba(18, 112, 243, 0.51) 96.37%);
height: 300px;
margin-top: 3.2rem;
}

header a{
    font-family: "Arimo",sans-serif;
    color: black;
    font-style:bold;
    text-decoration: none;
}
header a.active,
       a:hover{
        color: rgba(18, 112, 243, 0.51);
       }