*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}


body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f2f2f2;
    overflow-x: hidden;
}
body a{
    text-decoration: none;
    color: black;
}

body h2{
    font-weight: 700;
    font-family:"Arimo", sans-serif;
    font-style: bold;
    margin-bottom: 2rem;
}
header{
    background: linear-gradient(77deg, rgba(251, 251, 251, 0.51) -8.08%, rgba(196, 219, 252, 0.51) 51.68%, rgba(137, 183, 249, 0.51) 78.93%, rgba(18, 112, 243, 0.51) 96.37%);
    padding-top: 7rem;
    display: flexbox;
    height: 41rem;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header .container-fluid .kanan{
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 5.5rem;
}
header .container-fluid .kanan img{
    position: absolute;
    opacity: 30%;
    top: -2rem;
    right: -7rem;
    height:362px;
    width: 343px;
}
header .container-fluid .kanan .kotak{
    position: relative;
    background-color:white;
    height: 2rem;
    width: 2rem ;
}


/* Carousel */
  /* Kotak utama slideshow */
    .slide-container {
      background: white;
      border-radius: 25px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
      overflow: hidden;
      width: 70%;
      max-width: 1000px;
      height: 330px;
    }

    /* Gambar agar proporsional */
    .slide-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    /* Responsive height */
    @media (max-width: 992px) {
      .slide-container {
        height: 350px;
      }
    }
    @media (max-width: 768px) {
      .slide-container {
        height: 250px;
      }
    }

    /* .carousel-text {
      width: 55%;
    }

    .carousel-text h3 {
      font-weight: 700;
      background: linear-gradient(90deg, #000000, #66ccff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 10px;
    } */

    /* .carousel-text p {
      color: #333;
      line-height: 1.6;
    }

    .blue-box {
      display: inline-block;
      background-color: #0d6efd;
      color: white;
      padding: 8px 18px;
      border-radius: 10px;
      font-weight: 500;
      margin-top: 12px;
    } */


/* end carousel */

.text-gradient {
       background: linear-gradient(90deg, #000000, #66ccff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 600;
    }
.E-Book .card{
    border-radius: 2rem;
}
.E-Book .card img{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.video .card{
    border-radius: 2rem;
}
.video .card img{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.rambu .container{
  display: flex;
  justify-content: center;
  gap:2rem;
}
.rambu .card{
  display: flex;
    height: 131px;
    width: 420px;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.rambu .card img{
  height: 100px;
  width: 100px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}